/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*.appear {*/
  /*display: none;*/
  /*z-index: 10000;*/
  /*font-size: 12px;*/
  /*background-color: black;*/
  /*color: white;*/
/*}*/

/*.card:hover .appear {*/
    /*display: inline;*/
/*}*/

li {
  display: inline;
}

ul {
  list-style: none;
}

.card {
  margin: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 5em;
  height: 8em;
  display: relative;
}

.btn {
  background-color:transparent; 
  outline:none; 
  cursor: pointer; 
  border:none;  
}

.btn:active {
  outline: none;
}


#myInput {
  font-size: 200%;
  display: block;
  height: 200%;
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border: none;
  border-bottom: 3px solid grey;
  /*position: static;*/
}
