<div id="search-box">
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for commands.." autofocus>
</div>
<ul id='command-list'>
  <div class="card-deck-wrapper">
    <div class="card-deck">
      <% Command.all.each do |command| %>
        <div  class="btn" data-clipboard-action="copy" data-clipboard-text="/bitmoji <%= command.name %> " data-copied-hint="Copied '/bitmoji <%= command.name %>'">
            <li class='command-item'>
              <div class="card"> 
                <img class="card-img-top" src=<%= command.img_url %> alt=<% command.name %>/>
                <div class="card-block">
                  <div class="command-name"> 
                    <%= command.name %>
                  </div>
                </div>
              </div>
            </li>
        </div>
      <% end %>
    </div>
  </div>
</ul>
<script>
function myFunction() {
  console.log('something')
    // Declare variables
    var input, filter, ul, li, h4, i;
  input = document.getElementById('myInput');
  filter = input.value;
  ul = document.getElementById("command-list");
  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    var name = li[i].getElementsByTagName("h4");
    if (name[0].innerHTML.indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}
</script>
